<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanzhu.hospital.mapper.ArrangeMapper">

    <resultMap id="arrangeDoctorMap" type="com.shanzhu.hospital.entity.po.Arrange">

        <id property="arId" column="ar_id" />
        <result property="arTime" column="ar_time" />
        <result property="dId" column="d_id" />

        <association property="doctor" javaType="com.shanzhu.hospital.entity.po.Doctor">
            <result property="dId" column="d_id" />
            <result property="dName" column="d_name"/>
            <result property="dGender" column="d_gender"/>
            <result property="dPost" column="d_post"/>
            <result property="dIntroduction" column="d_introduction"/>
            <result property="dSection" column="d_section"/>
            <result property="dPrice" column="d_price"/>
            <result property="dAvgStar" column="d_avg_star"/>
            <result property="dPeople" column="d_people"/>
        </association>
    </resultMap>

    <select id="findByTime" resultMap="arrangeDoctorMap">
        select * from v_doctor_arrange 
        where ar_time=#{ar_time}
        <if test="d_section != null and d_section != ''">
            and d_section=#{d_section}
        </if>
    </select>

    <resultMap id="arrangeMap" type="com.shanzhu.hospital.entity.po.Arrange">
        <id property="arId" column="ar_id" />
        <result property="arTime" column="ar_time" />
        <result property="dId" column="d_id" />
    </resultMap>

    <select id="selectByArId" resultMap="arrangeMap">
        select ar_id, ar_time, d_id
        from arrange
        where ar_id = #{arId}
    </select>

</mapper>